---
layout: default
onepage: true
services:
  - title: Strategic communications diagnostics
    icon: fa fa-question
    desc: Establishing and diagnosing pain points within your strategies to help with clearer visioning and road mapping. 
    bg: /assets/images/service-tile.png
  - title: Sustainability foreight & visioning (advising)
    icon: fa fa-question
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur.
    bg: /assets/images/service-tile.png
  - title: Creative Content, Storytelling & Digital engagement (production)
    icon: fa fa-question
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur.
    bg: /assets/images/service-tile.png
  - title: Impact branding
    icon: fa fa-question
    desc: Helping you conceptualise and develop a brand strategy that is meaningful and impactful.
    bg: /assets/images/service-tile.png
  - title: Capability building & experiential (Training)
    icon: fa fa-question
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur.
    bg: /assets/images/service-tile.png
  - title: Mentoring / support
    icon: fa fa-question
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur.
    bg: /assets/images/service-tile.png
works:
  - path: _works/changeist-&-nesta.md
  - path: _works/dlt4u.md
  - path: _works/floriculture-sustainability-initiative.md
  - path: _works/iucn.md
  - path: _works/ndc-partnership.md
  - path: _works/netherlands-environment-assessment-agency.md
  - path: _works/the-world-bank.md
  - path: _works/una-collective.md
members:
  - avatar: /assets/images/team/chloe.jpg
    name: Chloe Hill
    position: Co-Founder & Chief Strategist
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "Clare is a senior front-end developer here at Wrap, specialises in building blocks of the web: HTML, CSS, and JavaScript. She has almost ten years experiencs in the front-end development."
  - avatar: /assets/images/team/hayley.jpg
    name: Hayley Bagnall
    position: Co-Founder & Chief Innovator
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "As Chief Innovator, Hayley helps our clients tranform their sustainability impact through transformative communications strategies and mindshifting trainings."

team_slides:
  - /assets/images/slider/slider1.jpg
  - /assets/images/slider/slider2.jpg
  - /assets/images/slider/slider3.jpg
  - /assets/images/slider/slider4.jpg
  - /assets/images/slider/slider6.jpg
  - /assets/images/slider/slider7.jpg
  - /assets/images/slider/slider8.jpg
  - /assets/images/slider/slider9.jpg
  - /assets/images/slider/slider10.jpg

testimonials:
  - quote: "Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur."
    author:
      name: "Jeroen Oudheusden"
      avatar: '/assets/images/testimonies/jereon.jpeg'
      position: 'Executive Director, FSI'
  - quote: "The HuckleBe team are a comms force to be reckoned with! Having worked with our data analysts to condense and reframe an analytical report for a niche target audience, HuckleBe delivered a high-quality product that helped us scale our impact with our target audience. Our team at Metabolic particularly enjoyed the way HuckleBe question and challenge assumptions about audience needs and content digestibility. They're extraordinarily passionate about what they do and we'd love to work with them more!"
    author:
      name: "Kate Black"
      avatar: '/assets/images/testimonies/kate.jpeg'
      position: 'Director of Communications, Metabolic'
  - quote: ""
    author:
      name: "Thibaud Voita"
      avatar: '/assets/images/testimonies/thibaud.jpg'
      position: 'Head of Knowledge Products, NDC Partnership'
  - quote: "The HuckleBe team develivered a training programme specifically designed for each of our accelerator teams to help them translate and amplify their work for non-tehnical audiences in a meaningful way and that also reaches new target audiences and segments of interest. Thanks to the HuckleBe capability training incredible our developers have improved their communication skills, boosted their reach and also had fun in the process!"
    author:
      name: "Anna Higueras"
      avatar: '/assets/images/testimonies/anna.jpeg'
      position: 'Project Manager, Ideas for Change'
  - quote: "Thanks to the storytelling superpowers of Chloe and her team, our work has been completely brought to life on our brand new website! By executing deep dive interview research with our colleagues across 10 different countries, Chloe's team generated a powerful set of engaging case studies each telling a unique story of landscape restoration from different corners of the globe. Thanks to this, we are now able to inform, inspire and influence policymakers about the importance of restoring nature! We are absolutely delighted with the final output! Thank you!"
    author:
      name: "Annelies Seawell"
      avatar: '/assets/images/testimonies/annelies.jpeg'
      position: 'Project Coordinator, PBL'
  - quote: "Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur."
    author:
      name: "Scott Smith"
      avatar: '/assets/images/testimonies/scott.jpeg'
      position: 'Managing Partner, Changeist'

clients:
  - /assets/images/clients/nesta.jpg
  - /assets/images/clients/fsi.jpg
  - /assets/images/clients/ndc.jpg
  - /assets/images/clients/pbl.jpg
  - /assets/images/clients/wb.jpg
  - /assets/images/clients/una.jpg
  - /assets/images/clients/unep.jpg
  - /assets/images/clients/iucn.jpg
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/pexels-rodnae-productions-7490408.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Inspire a new world</p>
      <h1 class='thin' id="to-be-update">
         <span class="sec">Sustainabilty Reimagined.</span><br/>
         <span class="thir"></span>
      </h1>
      <h2 class='thin'>
        HuckleBe is a strategic sustainabilty communications agency fresh out of Amsterdam.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our works</a>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">A Human Centred Experience</p>
        <p class="big-size">We create transformational communications strategies, produce game-changing content and deliver tailored capability training that scale your impact, boost your brand resilience and ensure that you’re on top of your sustainability game.</p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/client-focused.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>The HuckleBe Journey</h2>
    </div>
    <p class="light">You make sustainability happen. We make it possible.</p>
    <p class="light">Through our considered approach, we take you on a journey of self discovery, uncovering and responding  to your strategic and communications context, setting new refreshed intentions with renewed values and co-creating new actionable plans and ideas that ensure long lasting impact and change.</p>
    <div class="two spacing"></div>
    <a href="#team" class="button small">Meet the Co-founders</a>
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Our impact services</p>
        <h2>We've got you covered</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>


<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Our recent projects." %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Meet the co-founders." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members large-6 small-12 columns large-centered">
    {% for member in page.members %}
      <div class="small-6 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs large-6 columns large-centered">
    {% for member in page.members %}
      <div class="large-6 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/testimonies.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What our clients say</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="we are happy" title="Featured clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}
